/*指针光标*/
html {
    --默认光标:url('https://cloudflare-imgbed-ehf.pages.dev/file/鼠标_默认 (9).svg') 0 0, default;
    --指针光标:url('https://cloudflare-imgbed-ehf.pages.dev/file/鼠标_指针.svg') 8 0, default;
    --指针光标-点击:url('https://cloudflare-imgbed-ehf.pages.dev/file/鼠标_指针__active (1).svg') 8 8, default;
    cursor: var(--默认光标);
}
*::-webkit-scrollbar {
    cursor: var(--默认光标);
}
.h-full {
    cursor: var(--默认光标);
}
button:not(box button),
btn,
svg,
use,
input[type="checkbox"],
input[type="radio"],
label[for],
.clickable,
.cursor-pointer,
.ursor-pointer,
.MuiButtonBase-root,
.MuiAccordion-heading,
*[type='button'] {
    cursor: var(--指针光标);
}
.MuiStack-root .MuiBox-root,
.MuiAccordion-heading .MuiButtonBase-root{
    cursor: var(--指针光标)!important;
}
button:not(box button):active,
btn:active,
svg:active,
use:active,
input[type="checkbox"]:active,
input[type="radio"]:active,
label[for]:active,
.clickable:active,
.cursor-pointer:active,
.ursor-pointer:active,
.MuiButtonBase-root:active,
.MuiAccordion-heading:active,
*[type='button']:active
{
  cursor:var(--指针光标-点击)!important;
}
.MuiStack-root .MuiBox-root:active,
.MuiAccordion-heading .MuiButtonBase-root:active{
    cursor:var(--指针光标-点击)!important;
}
.flex-1.hide-scrollbar.overflow-auto.transition-all.duration-500 .flex-col .relative .MuiBox-root{
    cursor: var(--指针光标)!important;
}
.flex-1.hide-scrollbar.overflow-auto.transition-all.duration-500 .flex-col .relative .MuiBox-root:active{
    cursor:var(--指针光标-点击)!important;
}
/*背景*/
.shadow-lg~.w-0.grow.overflow-auto {
    background:#a1a1a1
}
/*侧边栏*/
.MuiCollapse-root .relative.overflow-auto.h-full.bg-white.MuiBox-root {
    background:#a1a1a1
}
.MuiCollapse-root .relative.overflow-auto.h-full.bg-white.MuiBox-root button,
.undefined.flex-col button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall:not(#header-setting-button) {
  background: linear-gradient(135deg, #dad6a6 0%, #c8c49a 100%);
  color: rgb(10, 10, 10);
  border: 1.2px solid #3b3128; 
  box-shadow: 
    0 2px 4px rgba(0,0,0,0.3), 
    inset 0 1px 0px rgba(255,255,255,0.15),
    inset 0 -1px 0px rgba(0,0,0,0.1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.MuiCollapse-root .MuiTypography-root.MuiTypography-body2.text-gray-500.text-xs {
    color: #080808
}
.MuiCollapse-root .MuiTypography-root.MuiTypography-body2.text-gray-500.text-xs ~ .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall use {
    color: #1b1b1b
}
.MuiCollapse-root .relative.overflow-auto.h-full.bg-white.MuiBox-root button:hover {
  transform: scale(1.025);
  transition: all 0.5s ease;
}
.MuiCollapse-root .relative.overflow-auto.h-full.bg-white.MuiBox-root .MuiList-root.MuiList-padding .ursor-pointer {
    border: 3px solid #000;
    box-shadow: 3.5px 3.5px 0 #000;
    transition: box-shadow 0.2s ease-in-out, transform 0.35s ease;
    background: #f3cf01;
    transform: skewX(-15deg);
    user-select: none;
}
.MuiCollapse-root .relative.overflow-auto.h-full.bg-white.MuiBox-root .MuiList-root.MuiList-padding .ursor-pointer .text-xs{
    color: #000000;
    font-weight: 900;
    transform: skewX(5deg);
}
.MuiCollapse-root .relative.overflow-auto.h-full.bg-white.MuiBox-root .MuiList-root.MuiList-padding .ursor-pointer svg {
    color:#000000;
}
/*设置*/
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPopover-paper.MuiMenu-paper {
    border:4px solid #FFDE00;
    outline:4px solid #000;
    box-shadow:inset 0 0 0 4px #000;
    background: #333333;
}
li.MuiButtonBase-root {
    color:#bbb79c;
    font-weight: 900;
}
li.MuiButtonBase-root:hover {
    background: #494949;
    color:#e6cc24!important;
}
/*记忆*/
.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-15ind3i .MuiDialogContent-root{
    position: relative;
}
.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-15ind3i p.MuiTypography-root.MuiTypography-body1{
    color:#00000000;
    position: relative;
    user-select: none;
}
.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-15ind3i p.MuiTypography-root.MuiTypography-body1::before{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    color:#000000;
}
.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-15ind3i p.MuiTypography-root.MuiTypography-body1:nth-child(1)::before{
    content:'Ⅰ. 本卡连续性剧情含量低，3记忆体验最佳';
}
.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-15ind3i p.MuiTypography-root.MuiTypography-body1:nth-child(2)::before{
    content:'Ⅱ. 推荐低耗高智力模型，测试期间全程使用"gemini-3-flash"';
}
.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-15ind3i p.MuiTypography-root.MuiTypography-body1:nth-child(3)::before{
    content:'Ⅲ. 测试期间记忆设置为"3"，claude系列推荐2记忆';
    color:#bd0d00
}
.MuiDialog-container.MuiDialog-scrollPaper .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-15ind3i p.MuiTypography-root.MuiTypography-body1:nth-child(4)::before{
    content:'Ⅳ. 强烈建议使用测试配置进行游玩，非推荐配置游玩出现Bug不予帮助';
}
/*模型*/
div[role="tooltip"].z-\[1002\].undefined .rounded-lg.border-gray-200.bg-white.shadow-lg.overflow-y-auto .w-full.flex-grow-1.sticky.top-0.z-10.bg-white.MuiBox-root .mx-4.MuiBox-root .MuiInputBase-root {
    position:relative;
}
div[role="tooltip"].z-\[1002\].undefined .rounded-lg.border-gray-200.bg-white.shadow-lg.overflow-y-auto .w-full.flex-grow-1.sticky.top-0.z-10.bg-white.MuiBox-root .mx-4.MuiBox-root .MuiInputBase-root::before {
    content:'推荐使用yuegle_google_vertex下的gemini-3-flash';
    position:absolute;
    left:-15px;
    bottom:101%;
    font-size:0.9em;
}
